@page
@model WebProgProject.Pages.PicturePages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Picture[0].notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture[0].picPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Picture) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.notes)
            </td>
            <td>
                <iframe src="@item.picPath" />
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
