@page
@model WebProgProject.Pages.PersonPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this person?</h3>
<div>
    <h4>@Html.DisplayFor(modelItem => Model.Person.Name)</h4>
    <hr />
    @*<dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>*@
        <!--<dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.AgeAtDeath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.AgeAtDeath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.BirthPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.BirthPlace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DeathPlace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DeathPlace)
        </dd>-->
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Profession)
        </dt>*@
        @*<dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Profession)
        </dd>*@
        <!--<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.DeathCause)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.DeathCause)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.BurialDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.BurialDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.CensusRecords)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.CensusRecords)
        </dd>-->
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.contactEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.contactEmail)
        </dd>*@
    @*</dl>*@
    
    <form method="post">
        <input type="hidden" asp-for="Person.id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
