@page
@model WebProgProject.Pages.PersonPages.DetailsModel


@{
    ViewData["Title"] = "Details";
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="~/css/DetailsPage.css" />
<h1>Details about @Model.Person.LastName, @Model.Person.FirstName</h1>

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Person.id">Edit</a>
    }
    <a asp-page="./Index">Back to List</a>
</div>

@*general information*@
<div class="w3-container">
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>General</h1>
        </header>
        <div class="w3-container">

            <a href="~/Uploads/@Model.Person.Upload">
            @*<a href="~/Uploads/DefaultImage.png" width="100px" height="100px">*@
                @{if (@Html.DisplayFor(model => model.Person.Upload) == null)
                    {
                        <img src="~/Uploads/@Model.Person.Upload" width="100px" height="100px" />}
                    else
                    { <img src="~/Uploads/@Model.Person.Upload" width="100px" height="100px" />}}
          </a>
            
        <div class="row">
          @if (SignInManager.IsSignedIn(User))
            {
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.id):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.id)</div>
            }
            <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.LastName):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.LastName)</div>
            <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.FirstName):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.FirstName)</div>
            <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.MiddleName):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.MiddleName)</div>
            <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.MaidenName):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.MaidenName)</div>
            <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.DateOfBirth):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.DateOfBirth)</div>
            <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.BirthPlace):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.BirthPlace)</div>
            <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.BirthCert):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.BirthCert)</div>
            <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.Baptism):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.Baptism)</div>
            <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.Job):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.Job)</div>
            <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.Military):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.Military)</div>
            <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.ImmigrationYear):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.ImmigrationYear)</div>
        </div>
        </div>
    </div>

    @*family info*@
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>Family</h1>
        </header>
        <div class="w3-container">
            <div class="row">
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.Father):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.Father)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.BPOF):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.BPOF)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.Mother):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.Mother)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.BPOM):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.BPOM)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.Godparents):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.Godparents)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.Siblings):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.Siblings)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.Children):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.Children)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.PatGpa):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.PatGpa)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.PatGma):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.PatGma)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.MatGpa):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.MatGpa)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.MatGma):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.MatGma)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.PatGreatGpa):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.PatGreatGpa)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.PatGreatGma):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.PatGreatGma)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.MatGreatGpa):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.MatGreatGpa)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.MatGreatGma):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.MatGreatGma)</div>
            </div>
        </div>
    </div>
</div>

@*death info*@
<div class="w3-container">
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>Death</h1>
        </header>
        <div class="w3-container">
            <div class="row">
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.DeathCert):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.DeathCert)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.DateOfDeath):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.DateOfDeath)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.AgeAtDeath):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.AgeAtDeath)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.DeathCause):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.DeathCause)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.DeathPlace):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.DeathPlace)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.ResidenceAtDeath):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.ResidenceAtDeath)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.FuneralHome):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.FuneralHome)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.ChurchBuriedFrom):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.ChurchBuriedFrom)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.Will):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.Will)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.Obituary):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.Obituary)</div>
            </div>
        </div>
    </div>

    @*marriage info*@
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>Marriage</h1>
        </header>
        <div class="w3-container">
            <div class="row">
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.Spouse):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.Spouse)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.DateOfMarriage):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.DateOfMarriage)</div>
            </div>
        </div>
    </div>
</div>

@*burial info*@
<div class="w3-container">
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>Burial</h1>
        </header>
        <div class="w3-container">

            @*<a href="~/Uploads/@Html.DisplayFor(model => model.Person.Tombstone)">*@
            <a href="~/Uploads/Tombstone.jpg">
                @{if (@Html.DisplayFor(model => model.Person.Tombstone) == null)
                    {
                        <img src="~/Uploads/Tombstone.jpg" width="100px" height="100px" />}
                    else
                    { <img src="~/Uploads/Tombstone.jpg" width="100px" height="100px" />}}

            
            </a>
            <div class="row">
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.BurialDate):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.BurialDate)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.BurialYear):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.BurialYear)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.TombstoneInscription):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.TombstoneInscription)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.GPSGravesite):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.GPSGravesite)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.OrientationInLot):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.OrientationInLot)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.LotNumber):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.LotNumber)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.MausCorridor):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.MausCorridor)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.MausTier):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.MausTier)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.GraveNumInCrypt):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.GraveNumInCrypt)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.Street):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.Street)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.SectionNum):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.SectionNum)</div>
            </div>
        </div>
    </div>

    @*other info*@
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>Other Information</h1>
        </header>
        <div class="w3-container">
            <div class="row">
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.notes):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.notes)</div>
            </div>
        </div>
    </div>
</div>

@*internment book*@
<div class="w3-container">
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>Internment Book</h1>
        </header>
        <div class="w3-container">
            @*<a href="~/Uploads/@Html.DisplayFor(model => model.Person.Tombstone)">*@
            <a href="~/Uploads/CensusRecord.jpg">
                @{if (@Html.DisplayFor(model => model.Person.CensusRecords) == null)
                    {
                        <img src="~/Uploads/CensusRecord.jpg" width="100px" height="100px" />}
                    else
                    { <img src="~/Uploads/CensusRecord.jpg" width="100px" height="100px" />}}
            </a>
            <div class="row">
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.CensusBookNumber):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.CensusBookNumber)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.CensusPageNumber):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.CensusPageNumber)</div>
                <div div class="col-sm-6"><b>@Html.DisplayNameFor(model => model.Person.CensusEntryNumber):</b></div> <div class="col-sm-6">@Html.DisplayFor(model => model.Person.CensusEntryNumber)</div>
            </div>

        </div>
    </div>
</div>