@page
@model WebProgProject.Pages.PersonPages.DetailsModel


@{
    ViewData["Title"] = "Details";
}
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="~/css/DetailsPage.css" />
<h1>Details about @Model.Person.LastName, @Model.Person.FirstName</h1>

<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Person.id">Edit</a>
    }
    <a asp-page="./Index">Back to List</a>
</div>

@*general information*@
<div class="w3-container">
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>General</h1>
        </header>
        <div class="w3-container">
            <a href="~/Uploads/@Html.DisplayFor(model => model.Person.Upload)">
                @{if (@Html.DisplayFor(model => model.Person.Upload) != null)
                    {
                        <img src="~/Uploads/DefaultImage.png" width="100px" height="100px" />}
                    else
                    { <img src="~/Uploads/@Html.DisplayFor(model => model.Person.Upload)" width="100px" height="100px" />}}</a>
                        <p><b>@Html.DisplayNameFor(model => model.Person.LastName):</b> <span>@Html.DisplayFor(model => model.Person.LastName)</span></p>
                        <p><b>@Html.DisplayNameFor(model => model.Person.FirstName):</b> <span>@Html.DisplayFor(model => model.Person.FirstName)</span></p>
                        <p><b>@Html.DisplayNameFor(model => model.Person.MiddleName):</b> <span>@Html.DisplayFor(model => model.Person.MiddleName)</span></p>
                        <p><b>@Html.DisplayNameFor(model => model.Person.MaidenName):</b> <span>@Html.DisplayFor(model => model.Person.MaidenName)</span></p>
                        <p><b>@Html.DisplayNameFor(model => model.Person.DateOfBirth):</b> <span>@Html.DisplayFor(model => model.Person.DateOfBirth)</span></p>
                        <p><b>@Html.DisplayNameFor(model => model.Person.BirthPlace):</b> <span>@Html.DisplayFor(model => model.Person.BirthPlace)</span></p>
                        <p><b>@Html.DisplayNameFor(model => model.Person.Job):</b> <span>@Html.DisplayFor(model => model.Person.Job)</span></p>
                        <p><b>@Html.DisplayNameFor(model => model.Person.ImmigrationYear):</b> <span>@Html.DisplayFor(model => model.Person.ImmigrationYear)</span></p>
</div>
    </div>

    @*family info*@
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>Family</h1>
        </header>
        <div class="w3-container">
            <p><b>@Html.DisplayNameFor(model => model.Person.Father):</b> <span>@Html.DisplayFor(model => model.Person.Father)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.BPOF):</b> <span>@Html.DisplayFor(model => model.Person.BPOF)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.Mother):</b> <span>@Html.DisplayFor(model => model.Person.Mother)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.BPOM):</b> <span>@Html.DisplayFor(model => model.Person.BPOM)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.Siblings):</b> <span>@Html.DisplayFor(model => model.Person.Siblings)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.Children):</b> <span>@Html.DisplayFor(model => model.Person.Children)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.PatGpa):</b> <span>@Html.DisplayFor(model => model.Person.PatGpa)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.PatGma):</b> <span>@Html.DisplayFor(model => model.Person.PatGma)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.MatGpa):</b> <span>@Html.DisplayFor(model => model.Person.MatGpa)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.MatGma):</b> <span>@Html.DisplayFor(model => model.Person.MatGma)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.PatGreatGpa):</b> <span>@Html.DisplayFor(model => model.Person.PatGreatGpa)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.PatGreatGma):</b> <span>@Html.DisplayFor(model => model.Person.PatGreatGma)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.MatGreatGpa):</b> <span>@Html.DisplayFor(model => model.Person.MatGreatGpa)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.MatGreatGma):</b> <span>@Html.DisplayFor(model => model.Person.MatGreatGma)</span></p>
        </div>
    </div>
</div>

@*death info*@
<div class="w3-container">
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>Death</h1>
        </header>
        <div class="w3-container">
            <p><b>@Html.DisplayNameFor(model => model.Person.DateOfDeath):</b> <span>@Html.DisplayFor(model => model.Person.DateOfDeath)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.AgeAtDeath):</b> <span>@Html.DisplayFor(model => model.Person.AgeAtDeath)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.DeathCause):</b> <span>@Html.DisplayFor(model => model.Person.DeathCause)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.DeathPlace):</b> <span>@Html.DisplayFor(model => model.Person.DeathPlace)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.FuneralHome):</b> <span>@Html.DisplayFor(model => model.Person.FuneralHome)</span></p>
        </div>
    </div>

    @*marriage info*@
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>Marriage</h1>
        </header>
        <div class="w3-container">
            <p><b>@Html.DisplayNameFor(model => model.Person.Spouse):</b> <span>@Html.DisplayFor(model => model.Person.Spouse)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.DateOfMarriage):</b> <span>@Html.DisplayFor(model => model.Person.DateOfMarriage)</span></p>
        </div>
    </div>
</div>

@*burial info*@
<div class="w3-container">
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>Burial</h1>
        </header>
        <div class="w3-container">
            <a href="~/Uploads/@Html.DisplayFor(model => model.Person.Tombstone)">
                @{if (@Html.DisplayFor(model => model.Person.Tombstone) == null)
                    {
                        <img src="~/Uploads/Tombstone.jpg" width="100px" height="100px" />}
                    else
                    { <img src="~/Uploads/@Html.DisplayFor(model => model.Person.Tombstone)" width="100px" height="100px" />}}
            </a>
            <p><b>@Html.DisplayNameFor(model => model.Person.BurialDate):</b> <span>@Html.DisplayFor(model => model.Person.BurialDate)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.BurialYear):</b> <span>@Html.DisplayFor(model => model.Person.BurialYear)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.TombstoneInscription):</b> <span>@Html.DisplayFor(model => model.Person.TombstoneInscription)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.GPSGravesite):</b> <span>@Html.DisplayFor(model => model.Person.GPSGravesite)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.OrientationInLot):</b> <span>@Html.DisplayFor(model => model.Person.OrientationInLot)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.LotNumber):</b> <span>@Html.DisplayFor(model => model.Person.LotNumber)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.MausCorridor):</b> <span>@Html.DisplayFor(model => model.Person.MausCorridor)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.MausTier):</b> <span>@Html.DisplayFor(model => model.Person.MausTier)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.GraveNumInCrypt):</b> <span>@Html.DisplayFor(model => model.Person.GraveNumInCrypt)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.Street):</b> <span>@Html.DisplayFor(model => model.Person.Street)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.SectionNum):</b> <span>@Html.DisplayFor(model => model.Person.SectionNum)</span></p>
        </div>
    </div>

    @*other info*@
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>Other Information</h1>
        </header>
        <div class="w3-container">
            <p><b>@Html.DisplayNameFor(model => model.Person.notes):</b> <span>@Html.DisplayFor(model => model.Person.notes)</span></p>
        </div>
    </div>
</div>

@*internment book*@
<div class="w3-container">
    <div class="" style="width:50%;float:left;padding:5px;">
        <header class="w3-container w3-blue">
            <h1>Internment Book</h1>
        </header>
        <div class="w3-container">
            <p><b>@Html.DisplayNameFor(model => model.Person.CensusBookNumber):</b> <span>@Html.DisplayFor(model => model.Person.CensusBookNumber)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.CensusPageNumber):</b> <span>@Html.DisplayFor(model => model.Person.CensusPageNumber)</span></p>
            <p><b>@Html.DisplayNameFor(model => model.Person.CensusEntryNumber):</b> <span>@Html.DisplayFor(model => model.Person.CensusEntryNumber)</span></p>
            <a asp-page=""> <p> <img src="~/Uploads/@Model.Person.CensusRecords" width="100px" height="100px" /></p></a>
        </div>
    </div>
</div>