@page
@model WebProgProject.Pages.PersonPages.DetailsModel


@{
    ViewData["Title"] = "Details";
}

<h1>Details about @Model.Person.LastName @Model.Person.FirstName </h1> 
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by Last Name:
            <input type="text" name="SearchString" value="" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Upload)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Tombstone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Spouse)
                <th>
                    @Html.DisplayNameFor(model => model.Person.DateOfMarriage) @*Date of marriage*@
                </th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Mother)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Father)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.GrandMother)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.GrandFather)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.GreatGrandMother)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.GreatGrandFather)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Siblings)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Children)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.CensusRecords)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.AgeAtDeath)
                </th>
</thead>
        <tbody>

            <tr>
                <td>
                    <img src="/Uploads/@Model.Person.Upload" width="50px" height="50px" />
                </td>
                <td>
                    <img src="~/Uploads/@Model.Person.Tombstone" width="50px" height="50px" />
                </td>
                <td>
                    <a asp-page="/PersonPages/Index" value="person" id="1" asp-route-id="@Model.Person.id">
                        @Html.DisplayFor(modelItem => Model.Person.Spouse)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Person.DateOfMarriage)
                </td>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Person.Mother)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Person.Father)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Person.GrandMother)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Person.GrandFather)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Person.GreatGrandMother)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Person.GreatGrandFather)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Person.Siblings)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Person.Children)
                </td>
                <td>
                    <img src="~/Uploads/@Model.Person.CensusRecords" width="50px" height="50px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Person.AgeAtDeath)
                </td>



                <div>
                    <a asp-page="./Edit" asp-route-id="@Model.Person.id">Edit</a> |
                    <a asp-page="./Index">Back to List</a>
                </div>
</table>
