    @page
@model WebProgProject.Pages.PersonPages.DetailsModel


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search by Last Name:
            <input type="text" name="SearchString" value="" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Upload)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Spouse)
                <th>
                    @Html.DisplayNameFor(model => model.Person.DOM) @*Date of marriage*@
                </th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Mother)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Father)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.Siblings)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.CensusRecords)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.DateOfDeath)
                </th>
                @*foreach (var item in Model.People){
                <td>
                    @Html.DisplayNameFor(model => model.Person.Upload)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Person.Spouse)
                <td>
                    @Html.DisplayNameFor(model => model.Person.DOM) Date of marriage
                </td>
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Person.Mother)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Person.Father)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Person.Siblings)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Person.CensusRecords)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Person.DateOfDeath)
                </td>
                }*@


                <div>
                    <a asp-page="./Edit" asp-route-id="@Model.Person.id">Edit</a> |
                    <a asp-page="./Index">Back to List</a>
                </div>
                </table>